* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #ffffff;
}

main {
  padding: 1rem;
}

h1, h2 {
  color: #000000;
  font-size: 3.1rem;
}

h3 {
  padding-bottom: 2rem;
  color: #000000;
  font-size: 1.8rem;
}

button {
  border: none;
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}
button:hover{
  background-color: salmon;
  color: #fff;
}
.btn-disabled {
  background-color: rgb(0, 0, 0);
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: center;
}

.li-hover:hover {
  background-color: salmon;
  color: #fff;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: salmon;
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5em;
}

.quiz-container {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 8px 0;
}